@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

/* Content */

.content {
	position: relative;
	min-height: 250px;
}

.svg-container {
	width: 100%;
	height: 250px;
}

body #cdawrap .carbon-text {
	color: #f9f9f9;
}

body #cdawrap a.carbon-poweredby {
	color: #7883C4;
}

body #cdawrap a:hover.carbon-poweredby {
	color: #fff;
}

@media screen and (min-width: 680px) {
	/*body,
	html,
	.container,
	.codrops-header,
	.content {
		 height: 100px; 
		height: 100vh;
		min-height: 704px;
	}*/
	.container {
		position: relative;
		/* top: 0px;
		left: 0px; */
		z-index: 2;
	}
	/*.content {
		height: 100%;
		height: 100vh;
		 margin-left: 280px; 
	}*/
	/* .svg-container {
		width: 50%;
		height: 50%;
	} */
	body #cdawrap {
		right: auto;
		position: absolute;
		left: 0;
		top: auto;
		bottom: 0;
		background: none;
		border: none;
		width: 280px;
		background: rgba(0, 0, 0, 0.1);
	}
}